html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-indent: -7px;
}

h6 {
    margin-bottom: 0.5em;
}

p {
    margin: 0
}

p.first {
    margin: -7px;
    margin-bottom: 0.5em;
    
}

p.second {
    margin: -7px;
    margin-bottom: 0.5em;
    
}

p.third {
    margin: -7px;
}

span {
    display: block;
}