.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInMove 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}