div {
    width: 25%;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
}

.solid-border {
    border: 4px solid black;
}

.dashed-border {
    border: 3px dashed #333;
}

.dottled-border {
    border:  2px dotted #666;
}

.mixed-border {
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}