details {
    border: 1px solid rgb(211, 211, 211);
    box-sizing: border-box;
    margin: 0 150px 0 150px;
}

summary {
    height: 40px;
    padding: 15px 15px 0 20px;
    font-weight: 600;
}

p {
    display: inline-block;
    height: 40px;
    padding: 0 15px 0 20px;
    max-width: 115ch;
    overflow: hidden;
}

.first, .second {
    margin-top: 0;
}