html {
    margin: 0;
    padding: 0;
}

section {
    border: 2px solid #000;
    padding: 2em;
    position: relative;
}

.item {
    border: 1px solid #333;
    padding: 0.5em;
    width: 5em;
    height: 5em;
}

.item-relative-second {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #000;
    text-align: left;
    width: 100px;
    height: 100px; 
    position: relative;
    left: 5em;
    top: 2em;
    background: lightgreen;
}

.item-relative-absolute-second {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #000;
    text-align: left;
    width: 100px;
    height: 100px; 
    position: absolute;
    left: 4em;
    top: 4em;
    background: lightgreen;
}