body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid green;
}

div {
    margin: 1.5rem;
    border: 1px solid black;
    margin-bottom: 0;;
}

.header, .banner, .main, .footer {
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 1.5rem 5rem;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}

.footer {
    margin-bottom: 0;
}