title {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-container .flex-item {
    border: 2px solid blue;
    width: 447px;
}

.flex-item ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 1em;
}

.flex-item ul li {
    padding: 1em 0;
    flex-shrink: 0;
    width: 50px;
    border: 2px solid black;
    background: lightgrey;
    text-align: center;
}

.second-wrapper .flex-item ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.third-wrapper .flex-item ul {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 1em;
}