* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex: 0 0 35em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

.login fieldset {
    display: block;
    width: 100%;
    border: none;
    padding: 2em;
}

legend {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 2px solid #CCC;
    padding-bottom: 1.5rem;
}

.login label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}

.login input {
    display: block;
    width: 100%;
    border: 2px solid #CCC;
    border-radius: 0.3em;
    padding: 1em 1.5em;
}

.login input[type="submit"] {
    border:none;
    background: darkorange;
    color: white;
    font-weight: bold;
    font-size:1.2em;
    margin-top: 1em;     
}

.login .field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.login .field label {
    order: -1;
}

.login input:required ~ label::after{
    content: '*';
    color: red;
    padding: 0.3em;
    display: inline-block;
}