body {
    background: lightgrey;
}

h2 {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    justify-content: center;
    margin: 30px auto;
}

section {
    border: 5px solid black;
    border-radius: 3px;
    background: white;  
    flex: 0 0 25%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    position: relative; 

}

figure {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

img {
    width: 90%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.landscape {
    position: relative;
    top: 60%;
}

section p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
}

.vertical {
    width: 99%;
    height: 91%;
    position: relative;
    bottom: 4%;
}