@import 'reset.css';
@import 'typography.css';

body {
    width: 100%;
    margin: 2% auto;
    background: lightgray;
}

.wrapper {
    width: 90%;
    margin: auto;
    padding: 2% 1.5% 2% 2.2%;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.1em 0;
}

hr {
    margin-top: 3%;
    margin-bottom: 2%;
}

p {
    margin: 2% 0;
}

ul, ol {
    margin-left: 2.5em;
}

.disc {
    list-style-type: disc;
}

.circle {
    list-style-type: circle;
}

.square {
    list-style-type: square;
}

table {
    margin: 2em 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td, th {
    border: 1px solid gray;
    padding: 0.5em;
}

thead {
    background: rgb(161, 161, 161);
}

.odd {
    background: #d2d2d2;
}

.even {
    background: #ebebeb;
}

blockquote {
    margin: 2em 0;
    padding: 1em 1.5em 1em 2em;
    border-left: 4px solid rgb(180, 180, 180);
    font-style: italic;
    max-width: 100%;
}

blockquote p {
    margin: 0 0 0.8em 0;
}

blockquote p:last-of-type {
      margin-bottom: 0;
}

blockquote span {
    display: block;
    margin-top: 1em;
    text-align: right;
    font-style: italic;
}

@media (max-width:600px) {
    p {
        margin: 1.8em 0;
        line-height: 1.7;
    }
}