* {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 28px;
    font-weight: bolder;
}

h4 {
    font-size: 25px;
    font-weight: bolder;
}

h5 {
    font-size: 22px;
    font-weight: bolder;
}

h6 {
    font-size: 20px;
    font-weight: bolder;
}