@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&family=Rubik+Gemstones&display=swap');

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

p, ol, ul {
    padding-bottom: 1.5rem;

}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: inherit;
}

.article-title {
    font-size: 30px;
}