h4 {
    margin: 0;
    padding-bottom: 0;
    font-family: Arial, sans-serif;
}

p {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    background-color: #d5d5d5;
    border-radius: 50%;
    display: inline-block;
}

i {
    margin: 7.5px;
    font-size: 10px;
}