nav {
    margin-top: 25px;
}

.nav-container {
    width: 93%;
    margin: auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    background: rgb(239, 239, 239);
    box-shadow: 0 0 5px 4px rgb(231, 231, 231);
    display: flex;
}

li {
    list-style: none;
    border: 1px solid rgb(196, 196, 196);
    background: white;
    border-radius: 5px;
    margin: 8px 5px;
    padding: 7px 13px;
    color: orange;
    font-weight: bold;
}