.flex-item ul {
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
}

.flex-item li {
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    padding: 1em;
}

section:nth-of-type(2) .flex-item ul{
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    justify-content: center;
}

section:nth-of-type(3) .flex-item ul{
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    justify-content: flex-end;
}

section:nth-of-type(4) .flex-item ul{
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    justify-content: space-between;
}

section:nth-of-type(5) .flex-item ul{
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    justify-content: space-around;
}

section:nth-of-type(6) .flex-item ul{
    display: flex;
    flex-direction: row;
    width: 450px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    justify-content: space-evenly;
}