body {
    background: rgb(221, 221, 221);
    font-family: 'Segoe UI', sans-serif;
}

.wrapper {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: white;
    width: 93%;
    margin: 2% 3%;
}

.header {
    padding: 2em;
    color: rgb(1, 160, 1);
}

ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 70, 70);
}

li {
    flex: 1;
    margin: 0.5em 1em;
    font-size: 15px;
    color: whitesmoke;
    padding: 0.5em;
}

.main-content {
    padding: 2em 1.5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
} 

p {
    margin: 1em 0;
    color: black;
}

.main-content article {
    flex: 7;
}

.main-content aside {
    flex: 3.5;
}

h3 {
    opacity: 70%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    font-size: 15px;
    color: whitesmoke;
    padding: 1em;
}

@media (max-width:600px) {
    ul {
        flex-direction: column
    }

    .main-content {
        flex-direction: column;
    }
}