.title {
    display: flex;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-direction-row .flex-item {
    display: flex;
    margin: 1rem 0;
    padding-right: 2em;
    border: 2px solid blue;
    flex-direction: row;
    width: 400px;
}

.flex-direction-row ul {
    display: flex;
    margin: 1em;
    padding: 0;
    width: inherit;
}

.flex-direction-row li {
    border: 2px solid black;
    padding: 1em;
    background: lightgray;
}

.flex-direction-row-reverse .flex-item {
    margin: 1em 0;
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    border: 2px solid blue;
    display: flex;
}

.flex-direction-row-reverse ul {
    display: flex;
    width: inherit;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.flex-direction-row-reverse li {
    border: 2px solid black;
    padding: 1em;
    background: lightgray;
}


.flex-direction-row-reverse .flex-item {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-direction-column .flex-item {
    margin: 1em 0;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-direction-column ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: lightgray;
}

.flex-direction-column li {
    display: flex;
    border: 1px solid black;
    align-items: center;
    height: 50px;
    padding: 0 1em;
}

.flex-direction-column-reverse .flex-item {
    margin: 1em 0;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-direction-column-reverse ul {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background: lightgray;
}

.flex-direction-column-reverse li {
    display: flex;
    border: 1px solid black;
    align-items: center;
    height: 50px;
    padding: 0 1em;
}