p {
    margin: -23px -25px;
}

div p {
    border: 2px solid black;
    padding: 30px 30px 30px 10px;
}

.first-element {
    margin: 40px;
}

.first-element p {
    padding-left: 13px;
}

.second-element {
    margin: 10px 30px 20px 40px;
    padding: 0 1.5% 0 1%;
}

.second-element p {
    padding-left: 15px;
}

.third-element {
    margin: -20px;
    padding: 0 45px 0 45px;
}