.spinner {
    width: 50px;
    height: 50px;
    border-top: 2px solid green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    to { transform:  rotate(360deg);}
}