.flex-item ul {
    display: flex;          /* фиксирани */
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 400px;
}

.flex-item li {
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    list-style: none;
    padding: 1em;
    flex-basis: 5em;
    text-align: center;
}

.flex-basis-5em li {
    display: flex;
    flex-direction: row;
}

.flex-shrink-zero li{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    max-width: 5em;
}

.flex-item .flex-grow-one{
  width: 900px;
}

.flex-grow-one li {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 5em;
}