html {
    background-color: rgb(214, 214, 214);
}

figure {
    padding: 0;
    margin: 0;
}

section {
    border: 1px solid black;
    width: 350px;
    position: absolute;
    left: 40%;
    padding: 0;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

article {
    background-color: white;
    margin: 0;
    padding: 0 0 10px 0;
    padding-left: 15px;
    padding-left: 20px;
}
h4 {
    margin: 0;
    padding: 20px 0 0 20px;
}

p {
    width: 85%;
    padding-left: 20px;
}

.last {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

a {
    margin-top: 0;
    display: block;
    padding-left: 20px;
    text-align: center;             
    white-space: nowrap; 
    width: 38ch;     
    overflow: hidden;      
    font-style: italic;
    text-overflow: ellipsis; 
}