.flex-item ul {
    display: flex;
    width: 400px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item li {
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    list-style: none;
    padding: 1em;
}

.flex-grow-one li {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-grow-2nd-only li:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-grow-proportion li:nth-of-type(1){
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-grow-proportion li:nth-of-type(2){
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.flex-grow-proportion li:nth-of-type(3){
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}