div {
    border: 2px solid black;
    margin: 0.5em 0;
    margin-bottom: 20px;
    padding: 0 10px;
}

.fixed-height {
    height: 200px;
}

.percentage-height {
    height: 50%;
}

.viewport-height {
    height: 50vh;
}

.min-max-height {
    min-height: 100px;
    height: 250px;
    max-height: 300px;
}