.flex-item ul {
    display: flex;
    width: 400px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item li {
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    list-style: none;
    padding: 1em;
}

section:nth-of-type(1) .flex-item ul{
    display: flex;
    flex-direction: row;
    gap: 2em 0;
}

section:nth-of-type(2) .flex-item ul{
    display: flex;
    flex-direction: row;
    gap: 0 2em;
}

section:nth-of-type(3) .flex-item ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
}