* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

.img-wrapper .logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0.5em;
}

.img-wrapper label {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

nav .list-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 1em;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

nav .list-items li:last-child {
    margin-right: 2em;
    border: 2px solid gray;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background: #111;
}

.first-section {
    background:
    linear-gradient(to bottom,
        darkblue 0%,
        transparent 40%,
        transparent 60%,
        darkblue 100%),

    linear-gradient(to right,
        purple 0%,
        purple 40%,
        #7b68ee 70%,
        darkblue 100%);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4em;
    
}

.first-section h2 {
    font-size: 34px;
    color: white;
}

.first-section h2:first-of-type {
    padding-top: 2em;
}

.first-section p {
    width: 45ch;
    padding: 1em 0;
    color: lightgray;
}

.first-section .btn {
    padding: 1em 0 5em 0;
}

.first-section .btn a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #eee;
    border-radius: 0.5em;
}

.first-section .btn .get-started{
    background: rgb(47, 169, 94);
}

.first-section .btn .learn-more{
    border: 1px solid gray;
}

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.second-section h3, .third-section h3 {
    padding: 2em;
    font-size: 24px;
}

.article-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    gap: 2em;
    margin: 1em 0 5em 0;
}

.article-wrapper article {
    border: 1px solid lightgray;
    background: white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 0.5em;
    min-width: 100px;
    min-height: 50vh;
    padding: 1em 4em;
}

.article-wrapper article h3 {
    padding: 1em 2em 0 2em;
}

.article-wrapper article:nth-child(2) {
    background-color: #1b1b1b;  
    border: 2px solid #000000; 
    transform: scale(1.05);   
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: white;
}

.article-wrapper article:nth-child(2) .most-popular {
    position: absolute;
    top: -8px;
    right: -2px;
    border-top-right-radius: 0.5em;
    font-size: 14px;
    background-color: rgb(47, 169, 94);
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.previleges {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em 2em;
}

.previleges span {
    padding: 0.5em 0;
}

.article-wrapper article .tax{
    position: relative;
    font-size: 34px;
    font-weight: bold;
}

.article-wrapper article .tax span {
    font-size: 20px;
}

.article-wrapper article .tax span:last-of-type {
    font-weight: lighter;
}

.tax-dollar {
    position: absolute;
    left: -0.1em;
    bottom: 14px;
}

.tax-price {
    position: absolute;
    left: 2.5em;
    bottom: 16px;
    font-size: 34px;
}

.article-wrapper article .tax .tax-monthly {
    position: relative;
    left: -1.3em;
    bottom: -0.1em;
    margin-left: 1em;
    font-size: 14px;
    color: gray;
}

article.plan:nth-child(1) > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) > span:nth-child(2) {
    left: 1.4em;
}

.tax {
    margin: 0.2em 0.5em 0.5em 1.5em;
}

.select {
    padding: 0.5em 0;
    margin: 1em 2em;
    background-color: rgb(47, 169, 94);
    border-radius: 0.5em;
}

.select a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

hr {
    position: relative;
    left: -3.8em;
    width: 160%;
    color: #ffffff;
    opacity: 0.3;
}

.previleges .fas.fa-check {
    color: rgb(11, 148, 11);
    padding-right: 0.3em;
}

.grid-item .fas.fa-check {
    color: rgb(11, 148, 11);
}

.grid-item .fas.fa-xmark {
    color: red;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 90%;
    min-height: 100px;
    margin: 0 0 3em 0;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ececec; 
}

.grid-item.header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.grid-item.header:first-of-type {
    border-top-left-radius: 0.5em;
}

.grid-item.header:nth-child(2) {
    background: white;
}

.grid-item.header:nth-child(3) {
    border-top-right-radius: 0.5em;
    background-color: #1b1b1b;
    color: white;
}

div.grid-item:nth-child(13) {
    border-bottom-left-radius: 0.5em;
}

div.grid-item:nth-child(15) {
    border-bottom-right-radius: 0.5em;
}

div.grid-item.lighter {
    background: #f6f6f6;
}

div.grid-item.white {
    background: white;
}

div.grid-item.darker {
    background-color: #e1e1e1;
}

div.grid-item.dark {
    background-color: #ececec;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    padding: 2em 0;
    gap: 2em;
}

footer .icons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.copy {
    color: rgb(211, 211, 211);
}

footer .icons i {
    width: 30px;
    height: 30px;
}