.flex-item ul {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    list-style: none;
    align-items: flex-start;
    height: 200px;
}

.flex-item li {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
    
}

.align-self-flex-start ul li:nth-of-type(2) {
    align-self: flex-start;
}

.align-self-center li:nth-of-type(2) {
    align-self: center;
}

.align-self-flex-end li:nth-of-type(2) {
    align-self: flex-end;
}

.align-self-baseline li:nth-of-type(2) {
    align-self: baseline;
}