@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex: 0 0 35em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

.login fieldset {
    display: block;
    width: 100%;
    border: none;
    padding: 2em;
}

legend {
    display: block;
    width: 30%;
    font-size: 1.6em;
    font-weight: bold;
    padding: 1.5rem 0;
}

.login label {
    display: block;
    font-weight: bold;
    font-size: 1em;
}

.login input, textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #CCC;
}

textarea {
    height: 4em;
    padding: 0.5em;
}

.login input:focus, textarea:focus {
    outline: none;
}

.login input[type="submit"] {
    border:none;
    background: #eee;
    color: black;
    font-weight: bold;
    font-size:1.2em;
    margin-top: 1em;  
    padding: 1em 1.5em;   
}

.login .field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    position: relative;
    
}

.login .field label {
    order: -1;
}

.helper-text {
    font-style: italic;
    opacity: 0.4;
    font-weight: 600;
}

.helper-text:first-of-type {
    margin-bottom: 2em;
}