.flex-item ul {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    list-style: none;
    align-items: flex-start;
}

.flex-item li {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
    
}

.custom-order li:nth-of-type(1) {
    order: 5;
}

.custom-order li:nth-of-type(2) {
    order: 3;
}

.custom-order li:nth-of-type(3) {
    order: 1;
}

.custom-order li:nth-of-type(4) {
    order: 6;
}

.custom-order li:nth-of-type(5) {
    order: 2;
}

.custom-order li:nth-of-type(6) {
    order: 4;
}