body {
    border: 2px solid darkgreen;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    align-items: flex-start;
    height: 95vh;
}

header {
    padding: 20px;
    border: 2px solid blue;
    width: 90%;
    margin: 20px auto 20px;
}

main {
    padding: 20px;
    border: 2px solid blue;
    width: 90%;
    height: 100%;
    margin: 20px auto 20px;
}

footer {
    padding: 20px;
    border: 2px solid blue;
    width: 90%;
    margin: 20px auto 20px;
}