.flex-item ul {
    display: flex;
    width: 350px;
    border: 2px solid blue;
    list-style: none;
    padding: 1em;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item li {
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
    list-style: none;
    padding: 1em;
}

section:nth-of-type(1) .flex-item ul{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

section:nth-of-type(2) .flex-item ul{
    display: flex;
    flex-direction: row;
    align-content: center;
}

section:nth-of-type(3) .flex-item ul{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

section:nth-of-type(4) .flex-item ul{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

section:nth-of-type(5) .flex-item ul{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}