* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 1em;
}

form {
    background: white;
    width: 50%;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.field {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1.5em;
}

input {
    display: block;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    border-radius: 50%;
    background: rgb(243, 240, 240);
    border: 2px solid #ccc;
    transition: border 0.3s ease;
}

input[type="radio"]:focus {
    background: orange;
}

input[type="radio"]::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 1.3em;
    height: 1.3em;
    background: rgb(202, 138, 20);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s cubic-bezier(.68,-0.55,.27,1.55);
}

input[type="radio"]:checked {
    border-color: orange;
}

input[type="radio"]:checked::after {
    transform: scale(1);
}

input[type="radio"]:hover {
    border-color: orange;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 4em;
    height: 2em;
    border-radius: 2em;
    background: #eee;
    box-shadow: 0 0 0 1px #ccc;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: 0.1px solid rgb(209, 209, 209)
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background: rgb(202, 138, 20);
    border-radius: 50%;
    top: 0.2em;
    left: 0.2em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

input[type="checkbox"]:checked {
    background: orange;
    box-shadow: 0 0 0 1px orange;
}

input[type="checkbox"]:checked::after {
    transform: translateX(2em);
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 0 1px orange;
}