* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;      
}

body {
    border: 1px solid rgb(250, 246, 246);
    width: 70%;
    margin: auto;
    font: 14px/1.5 Lato, sans-serif;
}

form {
    padding: 1.5em 1em;
    display: flex;
    gap: 1em;
    flex: 1 1 50%;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

form input {
    border:none;
    border-radius: 3px;
    height: 5vh;
    flex: 1.2;
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 2em 1em;
    color: rgb(98, 98, 98);
}

form input[type="email"] {
    flex: 3;
}

form button {
    flex: 1;
    height: 5vh;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    form {
        flex-wrap: wrap;
    }
}