html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

body {
    font-family: inherit;
}

p, ol, ul {
    padding-bottom: 1.5rem;

}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.article-title {
    font-size: 30px;
}