* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 50vh;
    background: rgba(212, 212, 212, 0.933);
    display: flex;
    justify-content: center;
    padding: 7vh 7vw;
}

.container {
    width: 100%;
    background: white;
    border: 2px solid rgb(193, 193, 193);
}

.container header,
.container footer {
    border: 1px solid lightgray;
    padding: 4vh;
    margin: 2%;
    border-radius: 5px;
}

.second-row {
    display: flex;
    gap: 2%;
    margin: 2%;
}

.second-row main {
    flex: 7;
    border: 1px solid rgb(196, 196, 196);
    padding: 4vh;
    border-radius: 5px;
}

.second-row aside {
    flex: 3;
    border: 1px solid rgb(196, 196, 196);
    padding: 4vh;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .second-row {
        flex-direction: column;
        gap: 2%;
    }
    .second-row main {
        margin-bottom: 2%;
    }
}