body {
    background: lightgrey;
}

.first-container, .last-container {
    background: white;
    border: 2px solid lightgray;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(180, 180, 180);
}

.first-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header, .footer {
    border: 1px solid gray;
    margin: 25px;
    padding: 20px;
    border-radius: 5px;
}

.header {
    margin-bottom: 15px;
}

.footer {
    margin-top: 15px;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.main, .sidebar {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.main-container {
    margin: 0;
}

.main {
    width: 70%;
    margin: 0 5px 0 25px;
}

.sidebar {
    width: 30%;
    margin: 0 25px 0 5px;
}

.last-container .main {
    order: 2;
    margin: 0 25px 0 5px;
}

.last-container .sidebar {
    order: 1;
    margin: 0 5px 0 25px;
}