body {
    padding: 20px;
    background: #eee;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 3%;
    padding: 3%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    margin: 1.9%;
    padding: 3%;
    background: white;
    width: 30%;
    margin-left: 0;
}

.big-circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: green;
    border: 3px solid white;
    margin: 10%;
    box-shadow: 0 0 5px 3px #cccccc;
}

.big-circle img {
    position: relative;
    right: 12%;
    bottom: 12%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: green;
    border: 3px solid white;
    margin: 10%;
    box-shadow: 0 0 5px 3px #cccccc;
}


.small-circle {
    position: relative;
    right: 32%;
    bottom: 5%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: green;
    border: 3px solid white;
    margin: 10%;
    box-shadow: 0 0 8px 3px #cccccc;
}

.small-circle img {
    position: relative;
    right: 12%;
    bottom: 12%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: green;
    border: 3px solid white;
    margin: 10%;
    box-shadow: 0 0 8px 3px #cccccc;
}

article {
    width: 75%;
}

div .small-circle,
div .big-circle {
    margin: auto;
}

.icon {
    font-size: 40px;
}

.vertical-container article {
    width: 100%;
}

p {
    opacity: 70%;
    font-family: 'Times New Roman', Times, serif
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media (max-width: 800px) {
    .big-circle {
        width: 100px;
        height: 100px;
        position: relative;
        left: 1%;
        bottom: 10%;
    }

    .big-circle img {
        width: 100px;
        height: 100px;
    }

    .container p {
        width: 100%;
    }

    .small-circle {
        right: 20%;
        bottom: 5%;
    }
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }

    body .vertical-container {
        width: 88%;
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        background: white;
        margin: 3%;
        padding: 3%;
    }

    .small-circle {
        position: relative;
        left: 1%;
        bottom: 10%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: green;
        border: 3px solid white;
        margin: 10%;
        box-shadow: 0 0 5px 3px #cccccc;
    }

    .small-circle img {
        position: relative;
        right: 12%;
        bottom: 12%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: green;
        border: 3px solid white;
        margin: 10%;
        box-shadow: 0 0 5px 3px #cccccc;
    }

    article {
        margin-bottom: 1em;
    }
}

@media (max-width: 400px) {
    .container,
    body .vertical-container {
        flex-direction: column;
        height: 50vh;
        margin-bottom: 1.5em;
    }
    
    body .vertical-container article, 
    article {
        width: 90%;
    }

    .container p,
    body .vertical-container p {
        width: 100%;
    }

    .big-circle, 
    .small-circle {
        width: 250px;
        height: 250px;
        position: relative;
        left: 1%;
        top: 0.1%;
        
    }

    .big-circle img,
    .small-circle img {
        width: 255px;
        height: 255px;
        position: relative;
        bottom: 11%;
    }
}