

.overflow-visible,
.overflow-hidden,
.overflow-scroll {
    border: 2px solid black;
    padding: 20px;
    max-width: 40ch;
    max-height: 11ch;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}