body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    width: 18%;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.tree details {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tree > details.container[open]::before {
    content: "";
    position: absolute;
    top: 7.5px;    
    left: 11px;   
    width: 2px;
    height: calc(90% - 15px); 
    background: #666;
    z-index: 1;
}

.tree > details.container > .nested-div > details:first-of-type::before {
    content: "";
    position: absolute;
    top: 8px;    
    left: -8px;   
    width: 10px;
    height: 2px;
    background: #666;
    z-index: 1;
}

.tree summary {
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 30px; 
}

.tree details > summary::before {
    content: "+";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(54, 152, 54);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: rgb(54, 152, 54);
    color: #fff;
    transform: translateY(-50%);
    z-index: 2; 
}

.tree > details:first-of-type > summary::before {
    top: 50%;
}

.tree details details {
    margin-left: 20px;
    position: relative;
}

.tree details details::before {
    content: "";
    position: absolute;
    top: 20%;          
    left: -9px;    
    width: 10px;
    height: 2px;
    background: #666;
    z-index: 1;
    transform: translateY(10px); 
}

details p {
    margin-top: 0;
    margin-left: 40px;
    font-weight: 600;
    position: relative;
}

details p::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #666;
    z-index: 1;
}

.last-para {
    margin-bottom: 20px;
}

.nested-div {
    position: relative;
}